header(class="bg-indigo-600 p-5 shadow-lg")
  div(class="container mx-auto flex justify-between")
    h1(class="text-6xl text-white font-extrabold text-center") Bienes
      span(class="font-normal") Raices

    nav(class="my-5 text-sm md:flex md:items-center font-bold text-white gap-4")
      a(href="") Mis Propiedades
      a(href="") Mi Perfil 
      a(class="bg-indigo-800 hover:bg-white hover:text-indigo-800 py-4 px-10 rounded" href="") Cerrar Sesion